.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
  
    .logo {
      width: 150px;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 2rem;
      margin-bottom: 0;
      color: #555;
    }
  
    h2 {
      font-size: 2.5rem;
      color: #8B5CF6;
      margin-top: 0;
      font-weight: bold;
    }
  
    p {
      margin: 20px 0;
      font-size: 1.2rem;
      color: #666;
    }
  
    .start-button {
      margin-top: 30px;
      font-size: 1.1rem;
    }
  }
  .gatita {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }  