<ion-content class="ion-padding">
  <div class="login-container">
    <h2>Welcome Back!</h2>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="login()" class="login-button">
      Login
    </ion-button>

    <div class="register-link">
      <p>Don't have an account?</p>
      <ion-button fill="clear" (click)="handleRegister()">
        Register
      </ion-button>
    </div>
  </div>
</ion-content>

